@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Caveat&family=Indie+Flower&family=Shippori+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');

*{
    font-family: 'Source Sans 3', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    padding: 10px;
    border-top: 1px solid orange;
    border-radius: 9px;
    color: black;
    background-color: skyblue;
}

header{
    width: 100%;
    height: 60px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 8%, rgba(51,51,51,1) 48%, rgba(102,102,102,1) 80%);
    border-bottom: 1px solid orange;    
}


nav{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 30px;
}

/* Body */
.logo {
    padding: 15px;
    margin-top: 20px;
    text-transform: uppercase;
    font-family: 'Bakbak One', cursive;
    color:seashell;
}

.logo:hover{
    opacity: 0.6;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("/img/add2.gif");
    background-size: cover;
    background-color: rgba(44,175,209, 0.7);    
}

.addCity {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    background-color: rgba(44,175,209, 0.7);
    border-radius: 5%;
    border-top: 1px solid orange;
}


label{
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

input{
    margin-left: 10px;
    margin-right: 10px;
}

footer {
    background: rgb(63,251,249);
    background: radial-gradient(circle, rgba(63,251,249,1) 0%, rgba(94,129,251,1) 57%, rgba(70,252,143,1) 100%);
    text-align: center;
    padding: 10px;
    font-weight: 600;
    border-top: 1px solid orange;    
}


.yellow {
    color:orange;
}

#agr {
    padding: 9px;
    border-top: 1px solid orange;
    border-radius: 9px;
    color: black;
    background-color: skyblue;
    font-size: 18px;
    cursor:pointer;
    cursor:pointer; 
}