@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Caveat&family=Indie+Flower&family=Shippori+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');

*{
    font-family: 'Source Sans 3', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    padding: 10px;
    border-top: 1px solid orange;
    border-radius: 9px;
    color: black;
    background-color: skyblue;
}

header{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    background: rgb(21, 172, 43);  
}


nav{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 30px;
}

/* Body */
.logo {
    padding: 15px;
    margin-top: 20px;
    text-transform: uppercase;
    font-family: 'Bakbak One', cursive;
    color:seashell;
}

.logo:hover{
    opacity: 0.6;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("/img/add2.gif");
    background-size: cover;
    background-color: rgba(44,175,209, 0.7);    
}

.addCity {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    background-color: rgba(44,175,209, 0.7);
    border-radius: 5%;
    border-top: 1px solid orange;
}


label{
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

input{
    margin-left: 10px;
    margin-right: 10px;
}


.yellow {
    color:orange;
}

#agr {
    padding: 9px;
    border-top: 1px solid orange;
    border-radius: 9px;
    color: black;
    background-color: skyblue;
    font-size: 18px;
    cursor:pointer;
    cursor:pointer; 
}

footer {
    background: rgb(63, 251, 135);
    text-align: center;
    padding: 10px;
    font-weight: 600; 
}