@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Caveat&family=Indie+Flower&family=Shippori+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');
*{
    font-family: 'Source Sans 3', sans-serif;
}

a {
    text-decoration: none;
    padding: 10px;
    border: solid 1px orange;
    border-radius: 9px;
    color: black;
    background-color: rgba(135, 207, 235, 0.788);
}

body{
    margin: 0;
    padding: 0;
}

/* Head */

header{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    background: rgb(161, 154, 154);
    background: linear-gradient(90deg, rgba(0,0,0,1) 8%, rgba(51,51,51,1) 48%, rgba(102,102,102,1) 80%);
    border-bottom: 1px solid orange;    
}


nav{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 30px;
}

/* Body */
.logo {
    padding: 15px;
    margin-top: 20px;
    text-transform: uppercase;
    font-family: 'Bakbak One', cursive;
    color:seashell;
}

.logo:hover{
    opacity: 0.6;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("/img/background.png");
    background-size: cover;
    background-color: rgba(44,175,209, 0.7);    
}

.city-weather{
    display: none;
    align-items: center;
    background: rgba(44,175,209, 0.7);
    height: 55%;
    width: 40%;
    padding: 10px;
    margin: 10px;
    border-radius: 5%;
    border-radius: 5%;
    border: 1px solid orange;
}

.weather-form{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(44,175,209, 0.7);
    height: 55%;
    width: 40%;
    padding: 10px;
    margin: 10px;
    border-radius: 5%;
    border: 1px solid orange;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

label{
    font-size: 50px;
}

.seleccion {
    text-align: center;
    width: 200px;
}

#add {
    padding: 9px;
    border: solid 1px orange;
    border-radius: 9px;
    color: black;
    background-color: skyblue;
    font-size: 18px;
    cursor:pointer;
    cursor:pointer; 
}

#result {
    padding: 10px;
    border-radius: 19px;
    color: hotpink;
    text-align: center;
    font-size: 17px;
    display: none;
    margin: 5px;
    border: solid 3px black;
    color: black;
    background: red;
    
}

.addCity {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

h1#ciudadConsultada {
    margin-left: 20%;
}

#result2 {
    padding: 10px;
    border-radius: 19px;
    color: hotpink;
    text-align: center;
    font-size: 17px;
    display: none;
    margin: 5px;
    border: solid 3px black;
    color: black;
    background: red;
}

#datos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#descripcion {
    text-transform:capitalize
}

.yellow {
    color:orange;
}

footer {
    background: rgb(63,251,249);
    background: radial-gradient(circle, rgba(63,251,249,1) 0%, rgba(94,129,251,1) 57%, rgba(70,252,143,1) 100%);
    text-align: center;
    padding: 10px;
    font-weight: 600;
    border-top: 1px solid orange;    
}